@model IEnumerable<eCommerce.Models.Category>

@{
    ViewData["Title"] = "Category List";
    eCommerce.Models.Category labels = Model.FirstOrDefault();
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-success" asp-controller="Category" asp-action="CreateCategory"><i class="bi bi-plus-circle"></i>&nbsp; Create Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped text-center" style="width:100%">
    <thead>
        <tr>
            <th>
                <label asp-for="@labels.CategoryName"></label>
            </th>
            <th>
                <label asp-for="@labels.DisplayOrder"></label>
            </th>
            <th>
                <label asp-for="@labels.CategoryCreatedDateTime"></label>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td style="width:35%" class="text-start">
                    @obj.CategoryName
                </td>
                <td style="width:10%">
                    @obj.DisplayOrder
                </td>
                <td style="width:20%">
                    @obj.CategoryCreatedDateTime
                </td>
                <td style="width:35%">
                    <div class="btn-group w-75" role="group">
                        <a class="btn btn-info btn-sm mx-2" asp-controller="Category" asp-action="EditCategory" asp-route-Id="@obj.Id">
                            <i class="bi bi-pencil-square"></i>&nbsp;Edit
                        </a>
                        <a class="btn btn-danger btn-sm mx-2" asp-controller="Category" asp-action="DeleteCategory" asp-route-Id="@obj.Id">
                            <i class="bi bi-trash"></i>&nbsp;Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

