@model ShoppingCart

@{
    ViewData["Title"] = "Product Details";
}

<h1 class="text-primary text-center mt-3">Details of @Model.Product.ProductName</h1>
<hr />

<form method="post">

    <input type="hidden" asp-for="Product.Id"/>

    <div class="card container pt-4">

        <div class="card-header bg-primary text-light ml-0 row">
            <div class="col-12 col-md-6">
                <h2 class="text-white-50">@Model.Product.ProductName</h2>
                <h5 class="text-white-50">@Model.Product.Brand</h5>
            </div>
            <div class="text-end col-12 col-md-6 pt-4">
                <span class="badge bg-info pt-2" style="height:30px;">@Model.Product.Category.CategoryName</span>
                <span class="badge bg-warning pt-2" style="height:30px;">@Model.Product.Tag.TagName</span>
                <span class="badge bg-warning pt-2" style="height:30px;">@ViewBag.Tag2</span>
                <span class="badge bg-warning pt-2" style="height:30px;">@ViewBag.Tag3</span>
            </div>
        </div>

        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        <div class="row pl-2">
                            <p class="text-secondary">@Html.Raw(Model.Product.ProductDescription)</p>
                        </div>
                        <div class="row pl-2">
                            <h5 class="text-danger pb-2 text-end">List price: <strike>@Model.Product.ListPrice.ToString("c")</strike></h5>
                        </div>
                        <div class="row pl-2 text-center">
                            <h5 class="pb-2 bg-secondary col-3">Quantity</h5>
                            <h5 class="pb-2 bg-secondary col-3">1-10</h5>
                            <h5 class="pb-2 bg-secondary col-3">10-20</h5>
                            <h5 class="pb-2 bg-secondary col-3">20 +</h5>
                        </div>

                        <div class="row pl-2 text-center">
                            <h5 class="pb-2 bg-secondary col-3">Price</h5>
                            <h5 class="pb-2 bg-secondary col-3">@Model.Product.Price.ToString("c")</h5>
                            <h5 class="pb-2 bg-secondary col-3">@Model.Product.Price10.ToString("c")</h5>
                            <h5 class="pb-2 bg-secondary col-3">@Model.Product.Price20.ToString("c")</h5>
                        </div>

                        <div class="row pl-2">
                            <div class="col-4 text-primary"><h4>Quantity</h4></div>
                            <div class="col-4">
                                <input asp-for="Count" class="form-control" />
                            </div>
                            <div class="col-4">
                                <h5 class="text-muted text-end">In Stock: @Model.Product.StockQuantity</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1 text-center">
                        <img src="@Model.Product.ImageUrl" width="100%" class="rounded" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a class="btn btn-success form-control pt-2" style="height:45px;" asp-action="Index">
                        <i class="bi bi-backspace"></i>&nbsp;Back to Home
                    </a>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    <button class="btn btn-primary form-control" style="height:45px;" type="submit" value="Add to Cart">
                        <i class="bi bi-cart-plus"></i>&nbsp;Add to Cart
                    </button>
                </div>
            </div>

        </div>

    </div>
</form>

