@model IEnumerable<Product>

@{
    ViewData["Title"] = "eCommerce";
}

<div class="text-center">
    <h1 class="display-4 mx-3 text-primary">eCommerce</h1>
</div>

<div class="row pb-3">
    @foreach (var prod in Model)
    {
        <div class="col-lg-3 col-md-6 mb-3">
            <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                <div class="card">
                    <img src="@prod.ImageUrl" class="card-img-top rounded" />

                    <div class="card-body">
                        <div class="">
                            <p class="card-title h5 text-primary text-center mt-2">@prod.ProductName</p>
                        </div>
                        <div class="">
                            <p class="card-title text-info text-center bg-light">@prod.Tag.TagName</p>
                        </div>
                        <div class="">
                            <p class="card-title text-danger text-end mx-2">List price: <strike>@prod.ListPrice.ToString("c")</strike></p>
                        </div>
                        <div class="">
                            <p class="card-title text-info text-end mx-2">As low as: @prod.Price20.ToString("c")</p>
                        </div>
                    </div>

                </div>

                <div>
                    <a asp-action="DetailsProduct" class="btn btn-sm btn-primary form-control" asp-route-id="@prod.Id">
                        <i class="bi bi-zoom-in"></i>&nbsp;Details
                    </a>
                </div>

            </div>
        </div>
    }
</div>
